
body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #3B3B3B;
}

.element{
    height:500px;
    width:500px;
    background:#02A8F3;
    transition: all 1s ease;
    display:flex;
    align-items: center;
    justify-content: center;
}

#text{
    font-size:50px;
    color: #3B3B3B;
}

.element-round{
    border-radius:50%;
    background:#00BBD3;
}